@model PaginatedList<COSEC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by UserId: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["UserIdParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">UserId</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["UserIdParm"]">@Html.DisplayNameFor(model => model.USERID)</a>*@
                @*@Html.DisplayNameFor(model => model.USERID)*@
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">EventDateTime</a>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.EVENTDATETIME)</a>*@
                @*@Html.DisplayNameFor(model => model.EVENTDATETIME)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USERID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EVENTDATETIME)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Approve</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |*@
                    <a asp-action="Approve" asp-route-id="@item.Id">Approve</a> |
                    <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
